# Node
node_modules/

# Typescript
dist/

# Cypress
cypress.env.json
cypress/downloads/
cypress/screenshots/
cypress/videos/

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

# dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
